VITE_API_URL="https://api-actsone.realdealvn.click" # url backend api
VITE_URL_SUPER_APP_REDIRECT="https://superapp.realdealvn.click/#/callback/logout"  # domain supper app
VITE_ORDER_APP_ID=3 # id app

# Device name
VITE_DEVICE_NAME="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36 Edg/131.0.0.0"

VITE_COMPANY_ID="5GGUZNDUXL3DT9Q"

# TODO: remove this after testing
VITE_DEV_USERNAME="ducanh.actsone@gmail.com"
VITE_DEV_PASSWORD="123456"
